{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Bootstrap Navbar Example</title>
   <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

<!-- css -->
<link rel="stylesheet" href="Bootstrap/css/bootstrap.min.css">
<!-- js -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
    crossorigin="anonymous"></script>
  <!--css file-->
  <link rel="stylesheet" href="Bootstrap/css/bootstrap.min.css">
  <!-- ===== Link Swiper's CSS ===== -->
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <!-- ===== Fontawesome CDN Link ===== -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
  <!-- ===== CSS ===== -->
  <link rel="stylesheet" href="style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <!--pop up -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <!--js file-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
    crossorigin="anonymous"></script>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

  <link rel="stylesheet" href="Bootstrap/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
    crossorigin="anonymous"></script>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  <link rel="stylesheet" href="lenskart.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Bootstrap JS, Popper.js, and jQuery (if needed) -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.2/js/bootstrap.bundle.min.js"></script>
  <!-- Ionicons CDN -->
  <script src="https://cdn.jsdelivr.net/npm/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>

  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.2/css/bootstrap.min.css" rel="stylesheet">


  <style>
    .container {
      text-align: center;
      margin-top: 20px;
    }

    .image-container {
      margin-bottom: 20px;
    }

    .color-lenses {
      display: flex;
      justify-content: center;
    }

    .lens {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin: 0 10px;
      cursor: pointer;
    }

    .cont {
      position: relative;
      text-align: center;
      color: white;
    }

    .top-left {
      position: absolute;
      top: 8px;
      left: 16px;
    }

    .top-right {
      position: absolute;
      top: 8px;
      right: 16px;
    }

    .centered {
      position: absolute;
      top: 35%;
      left: 50%;
      transform: translate(-50%, -50%);
    }


    div1 {
      width: 320px;
      height: 900px;
      padding: 10px;
      background-color: rgb(221, 255, 255);
      margin: 0;
    }



   /*the code*/
   .small-images{
      margin:0 auto;
      width:900px;
      margin-top: 40px;

 
  
}
.small-images img{
    
    max-width:70px;
      max-height:60px;
 
  
}
#big-image{
      width:900px;
   margin:auto;
 
  
      
}
/*the code*/
</style>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script>
$(function(){
    $("#big-image img:eq(0)").nextAll().hide();
    $(".small-images img").click(function(e){
        var index = $(this).index();
        $("#big-image img").eq(index).show().siblings().hide();
    });
});
</script>
  
</head>

<body>

  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
      <div class="container">
        <!-- Logo -->
        <a class="navbar-brand" href="#">
          <img src="{% static 'images/607.avif' %}" alt="Logo" height="30">
        </a>
      </div>
    </nav>

    <div class="row" style="background-color: rgb(51, 13, 51); color: white;">
      <div class="col">
        <p>Witness the magic of water like never before – Aqua Lens, where every photo tells a liquid story</p>
      </div>
      <div class="col text-end"><img src="{% static 'images/608.avif' %}" alt="Image" height="50"></div>
    </div>
  </div>

  <div class="container-fluid">
    <video width="100%" height="100%" autoplay="1" controls>
      <source src="{% static 'images/609.mp4' %}" type="video/mp4">
      Your browser does not support the video tag.
    </video><br><br><br>


    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <a href="../contact_nine/"><img src="{% static 'images/610.webp' %}" class="img-fluid" alt="Image 1" style="height:70%;width:50%;"></a>
        </div>
        <div class="col-sm-6">
          <a href="../nav_contact/"><img src="{% static 'images/611.webp' %}" class="img-fluid" alt="Image 2"  style="height:70%;width:50%;"></a>
        </div>
      </div>
      <hr>
      <br>


      <div class="row">
        <center>
          <h1>Clear Contact Lens</h1>
        </center>
        <center>
          <p>Experience Comfortable, Clear Vision Like Never Before</p>
        </center>
      </div>
      <hr>
      <br><br>



      <div class="row">
        <h2 style="color:gray;"><b> Clear Lens</b></h2>
      </div><br>

      <div class="row">

        <div class="col-sm-6">
          <center>
            <p style="color:rgb(11, 13, 28); font-size: 18px;">Spherical Eye Power</p><br>
            <img src="{% static 'images/616.webp' %}" style="height:85%;width:35%;">
            <img src="{% static 'images/617.webp' %}" style="height:85%;width:35%;"><br><br>
            <hr>
          </center>
        </div>
        <div class="col-sm-6">
          <center>
            <p style="color:rgb(11, 13, 28); font-size: 18px;">Cylindrical Eye Power</p><br>
            <img src="{% static 'images/618.webp' %}" style="height:85%;width:35%;">
            <img src="{% static 'images/619.webp' %}" style="height:85%;width:35%;"><br><br>
            <hr>
          </center>
        </div>

      </div><br><br>


      <hr>

      <div class="row">
        <img src="{% static 'images/s34.png' %}">
      </div><br>
      <hr>

<!--      <div class="row">-->
<!--        <div class="col-sm-6"><br>-->
<!--          <center>-->
<!--            <h3 style="color:rgb(99, 96, 96);"><b>Need Help Choosing the Right<br> Contact Lenses?</b></h3>-->
<!--          </center>-->
<!--        </div>-->
       <!--- <div class="col-sm-6"><br>
          <center><button type="button" class="btn btn-white" style="border:1px solid black;">Take A Quiz To Find Out
              -></button></center>
        </div>-->
<!--      </div><br><br><br>-->

<!--      <div class="row">-->
<!--        <center>-->
<!--          <h1><b>Colored Contact Lens</b></h1>-->
<!--        </center>-->
<!--        <center>-->
<!--          <p style="font-size: 18px;">Be A New You, Everyday With Aquacolor</p>-->
<!--        </center>-->
<!--      </div><br>-->

<!--      <div class="row">-->
<!--        <div class="col-sm-6 text-end">-->
<!--          <a href=""><img src="http://127.0.0.1:5500/s35.png" style="height:100%;width:70%;"></a>-->
<!--        </div>-->
<!--        <div class="col-sm-6 text-left">-->
<!--          <a href=""><img src="http://127.0.0.1:5500/s36.png" style="height:100%;width:70%;"></a>-->
<!--        </div>-->
<!--      </div>-->


      <div class="row">
        <center>
        <div id="big-image">
          <br><br>
          <img src="{% static 'images/emerald_eyes.avif' %}">
          <img src="{% static 'images/spicy_grey_eyes.avif' %}">
          <img src="{% static 'images/brown_eyes_lens.avif' %}">
          <img src="{% static 'images/Sincere_grey_eyes.avif' %}">
          <img src="{% static 'images/mystery_brown_eyes.avif' %}">
          <img src="{% static 'images/treicky_turquoise_eyes.avif' %}">
        </div>
        
      
      <div class="small-images">
        <img src="{% static 'images/621.png' %}">
          <img src="{% static 'images/623.png' %}">
          <img src="{% static 'images/624.png' %}">
          <img src="{% static 'images/625.web' %}p">
          <img src="{% static 'images/626.web' %}p">
          <img src="{% static 'images/627.png' %}">
    </center>
      </div>

     
    
    <br>


    <br><br>



    <div class="row">
      <center>
        <video width="15%" height="90%" autoplay="1" controls>
          <source src="{% static 'images/628.mp4' %}" type="video/mp4">
          Your browser does not support the video tag.
        </video>

        <video width="15%" height="90%" autoplay="1" controls>
          <source src="{% static 'images/629.mp4' %}" type="video/mp4">
          Your browser does not support the video tag.
        </video>

        <video width="15%" height="90%" autoplay="1" controls>
          <source src="{% static 'images/630.mp4' %}" type="video/mp4">
          Your browser does not support the video tag.
        </video>

        <video width="15%" height="90%" autoplay="1" controls>
          <source src="{% static 'images/631.mp4' %}" type="video/mp4">
          Your browser does not support the video tag.
        </video>

        <video width="15%" height="90%" autoplay="1" controls>
          <source src="{% static 'images/632.mp4' %}" type="video/mp4">
          Your browser does not support the video tag.
        </video>

      </center>
    </div><br><br>


    <div class="row">
      <center>
        <img src="{% static 'images/s37.png' %}" style="height:100%;width:100%;">
      </center>
    </div>

    <hr>

    <div class="row">
      <br>
      <center>
        <h2 style="color:rgb(99, 96, 96);"> <b>Why Aqualens Solution?</b></h2>
      </center>
    </div><br><br>

    <div class="row">
      <img src="{% static 'images/s38.png' %}" style="height:100%;width:100%">
    </div><br><br>
    <hr>


    <div class="row">
      <br>
      <center>
        <h2><b>Why Switch To Contact Lenses</b></h2>
      </center>
      <center>
        <p style="font-size: 18px;">Make your life simpler & your vision clearer with contact<br> lenses.</p>
      </center>
    </div>
    <br>

    <div class="row">
      <br><br><br>
      <img src="{% static 'images/s39.png' %}" style="height:100%;width:100%;">
    </div><br><br>

    <div class="row">
      <img src="{% static 'images/s40.png' %}" style="height:100%;width:100%;">
    </div>

<!--    <div class="row">-->
<!--      <img src="http://127.0.0.1:5500/s40.png" style="height:100%;width:100%;">-->
<!--    </div>-->

    <div class="row">
      <img src="{% static 'images/s41.png' %}" style="height:100%;width:100%;">
    </div>
    <br><br>
    <br><br>

    <div class="row">
      <div1>
        <br>
        <br>
        <h1>
          <center><b>Our Aqualens Community</b></center>
        </h1>
        <center>
          <p style="font-size: 20px;">Share your Aqualens looks with us</p>
        </center><br>
        <div class="row">
          <div class="col-sm-12">
            <center>
              <img src="{% static 'images/645.jfif' %}" style="height:45%;width:25%;">
              <img src="{% static 'images/646.jpg' %}" style="height:45%;width:25%;"><br><br>
              <img src="{% static 'images/648.jpg' %}" style="height:45%;width:25%;">
              <img src="{% static 'images/649.jpg' %}" style="height:45%;width:25%;">
            </center>
          </div>
        </div>
      </div1><br><br>




      <footer style="background-color:white;">
        <div class="container-fluid">
          <div class="row">
            <h3 style="color:black;"><b>Buy the best contact lenses from Aqualens</b></h3>
            <p style="font-size: 14px;"> Experience comfortable and clear vision like never before. One-Stop Online
              Solution For Purchasing contact lens And Its Accessories, Aqualens Delivers Them Right At Your Doorstep
              With Convenient Methods Of Payment. Clear Contact lens as well as Color Contact lens Are Available in
              power And zero power In A Diverse Array Of disposibility And Trendy Colours. If You Want To Try Out
              Contact Lenses, Pick The Ones Of Your Choice From The Extensive Variety Of Coloured Contact Lenses From
              Our Online Store.</p>
          </div>

      </footer>




    </div>

      <script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/65fe7c43a0c6737bd123d965/1hpl1aqkv';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>


</body>

</html>