{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

<!-- css -->
<link rel="stylesheet" href="Bootstrap/css/bootstrap.min.css">
<!-- js -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
    crossorigin="anonymous"></script>
  <!--css file-->
  <link rel="stylesheet" href="Bootstrap/css/bootstrap.min.css">
  <!-- ===== Link Swiper's CSS ===== -->
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <!-- ===== Fontawesome CDN Link ===== -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
  <!-- ===== CSS ===== -->
  <link rel="stylesheet" href="style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <!--pop up -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <!--js file-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
    crossorigin="anonymous"></script>
  <!-- css -->
  <link rel="stylesheet" href="Bootstrap/css/bootstrap.min.css">
  <!-- js -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
    crossorigin="anonymous"></script>
  <!-- css -->
  <link rel="stylesheet" href="Bootstrap/css/bootstrap.min.css">
  <!-- js -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
    crossorigin="anonymous"></script>
   
    

    <!-- css -->
    <link rel="stylesheet" href="Bootstrap/css/bootstrap.min.css">
    <!-- js -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>

    <!--for icons-->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <!--for icons close-->
    <style>

.header {
      background-color: #fff; /* Change background color to white */
      color: #333; /* Change text color */
      position: sticky;
      top: 0;
      z-index: 1000;
      /*box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow effect */
    }

     /*header */
    /*search bar open*/
.search-container {
      position: relative;
    }

    #searchInput {
      padding: 8px;
      border-radius: 5px;
      border: 1px solid #ccc;
      outline: none;
    }

    .options-list {
      list-style-type: none;
      padding: 0;
      margin: 0;
      position: absolute;
      z-index: 1;
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      display: none;
      width:100%;
    }

    .options-list li {
      padding: 8px 16px;
      cursor: pointer;
    }

    .options-list li:hover {
      background-color: #f0f0f0;
    }
   
    /*search bar close*/
  /*header close*/







    </style>
</head>

<body>

    <div class="container-fluid">
      
    <header class="header">

      <div class="row">
          <div class="header" id="myHeader">
            <div class="row">
              <div class="col-sm-10">
                <a href="../do_more_be_more2/" style="font-size: 11px;text-decoration: none;color:black;">Explore & Elevate |</a>
                <a href="" style="font-size: 11px;text-decoration: none;color:black;">LensTry-In |</a>
                <!--<a href="store2.html" style="font-size: 11px;text-decoration: none;color:black;">Store Locator |</a>-->
                <!--<a href="head2.html" style="font-size: 11px;text-decoration: none;color:black;">UAE |</a>-->
                <a href="../john_jacobs_nav/" style="font-size: 11px;text-decoration: none;color:black;">John Jacobs |</a>
                <a href="../aqua_lens/" style="font-size: 11px;text-decoration: none;color:black;">Aqualens |</a>
                <a href="../singapore2/" style="font-size: 11px;text-decoration: none;color:black;">Evolve More </a>
                <!--<a href="cobrowsing.html" style="font-size: 11px;text-decoration: none;color:black;">Cobrowsing </a>-->
                <!--<a href="engineering_blog.html" style="font-size: 11px;text-decoration: none;color:black;">Engineering Blog |</a>-->
                <!--<a href="Franchise.html" style="font-size: 11px;text-decoration: none;color:black;">Lenskart Franchise | </a>-->
                <!--<a href="head2.html" style="font-size: 11px;text-decoration: none;color:black;">Home</a>-->

              </div>
<!--              <div class="col-sm-2">-->
<!--                <div class="text-end">-->
<!--                  <a href="" style="font-size: 11px;text-decoration: none;color:black;">Contact Us</a>-->
<!--                </div>-->
<!--              </div>-->
            </div>

            <div class="row">
             <div class="col">
                <a href="head2.html"style="text-decoration:none;"><p style="margin-top: 20px;font-weight:bolder;font-size:26px;color:#000042;font-family:Georgia, 'Times New Roman', Times, serif ;padding-left: 25px;">MyLens</p></a>
              </div>
              <div class="col-sm-5 mt-4">
                <div class="search-container">
                <input class="form-control mr-sm-2" type="search" id="searchInput" placeholder="What are you looking for?"
                  aria-label="Search">
                  <ul class="options-list" id="optionsList">
                    <li style="font-size:x-large">Trending Search</li>
                    <a href="search_eyeglass.html" style="text-decoration: none;color:black;"><li>Eyeglasses</li></a>
                    <a href="search_sunglass.html" style="text-decoration: none;color:black;"><li>Sunglasses</li></a>
                    <a href="search_contact.html" style="text-decoration: none;color:black;"><li>Contact Lenses</li></a>
                    <a href="search_vinchent.html" style="text-decoration: none;color:black;"><li>Vincent Chase Eyeglasses</li></a>
                    <a href="search_vinchent_sun.html" style="text-decoration: none;color:black;"><li>Half Rim glasses</li></a>
                    <a href="search_john_jacobs.html" style="text-decoration: none;color:black;"><li>Full Rim glasses</li></a>
                    <a href="search_john_sun.html" style="text-decoration: none;color:black;"><li>Rimless glasses</li></a>
                    <a href="men_sun.html" style="text-decoration: none;color:black;"><li>John Jacobs Eyeglasses</li></a>
<!--                    <a href="women_sun.html" style="text-decoration: none;color:black;"><li>Women Sunglasses</li></a>-->
                  </ul>
                </div>
              </div>
              <script>
                var searchInput = document.getElementById('searchInput');
                var optionsList = document.getElementById('optionsList');

                // Show/hide options list when search bar is clicked
                searchInput.addEventListener('click', function(event) {
                  event.stopPropagation(); // Prevent the click event from propagating to the document body
                  optionsList.style.display = 'block';
                });

                // Hide options list when clicking outside the search bar
                document.body.addEventListener('click', function() {
                  optionsList.style.display = 'none';
                });

                // Prevent the click inside the search container from closing the options list
                document.querySelector('.search-container').addEventListener('click', function(event) {
                  event.stopPropagation();
                });

                // Handle option selection
                optionsList.addEventListener('click', function(event) {
                  if (event.target.tagName === 'LI') {
                    searchInput.value = event.target.innerText;
                    optionsList.style.display = 'none';
                  }
                });
              </script>
              <div class="col-sm-5 mt-3">
                <div class="row">

                  <div class="col">
                      <a href="#modal_3" style="text-decoration: none;color:black;font-size: 14px;"  data-bs-toggle="modal">Track Order</a>
                  </div>
                  <div class="col">
                      <a href="#modal_1" style="text-decoration: none;color:black;font-size: 14px;"   data-bs-toggle="modal">Sign In </a>
                  </div>
                  <div class="col">
                      <a href="#modal_2" style="text-decoration: none;color:black;font-size: 14px;"   data-bs-toggle="modal">Sign Up </a>
                  </div>
                  <div class="col">
                      <a href=""  id="wishlistButton" style="text-decoration: none;color:black;font-size: 14px;"><ion-icon name="heart-outline"></ion-icon>Wishlist</a>
                  </div>
                  <div class="col">
                      <a href="cart.html" style="text-decoration: none;color:black;font-size: 14px;"><ion-icon name="cart-outline"></ion-icon> Cart</a>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-sm-8"style="background:whitesmoke;">
               <a href="../nav_eyeglass/" style="text-decoration: none;color:black;font-size: 16px;padding:0%;color:#000042;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">EYEGLASSES</a>

                <a href="../nav_computer/"
                  style="text-decoration: none;color:black;font-size: 16px;padding:1%;color:#000042;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">COMPUTER
                  GLASSES</a>
                <a href="../nav_kids/"
                  style="text-decoration: none;color:black;font-size: 16px;padding:1%;color:#000042;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">KIDS
                  GLASSES</a>
                <a href="../nav_contact/"
                  style="text-decoration: none;color:black;font-size: 16px;padding:1%;color:#000042;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">CONTACT
                  LENSES</a>
                <a href="../nav_sunglass/"
                  style="text-decoration: none;color:black;font-size: 16px;padding:1%;color:#000042;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">SUNGLASSES</a>
                <!--<a href=""
                  style="text-decoration: none;color:black;font-size: 16px;padding:1%;color:#000042;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">HOME
                  EYE-TEST</a>-->
                <!--<a href=""
                  style="text-decoration: none;color:black;font-size: 16px;padding:1%;color:#000042;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">STORE
                  LOCATOR</a>-->
              </div>

              <div class="col"style="background:whitesmoke;">
                <a href="" class="btn btn-md"
                  style="background-color:#20B2AA; margin:0px 4px 0px 0px; display:block; text-size-adjust:100%; border-radius:4px; min-width: 100px;">3DTRYON</a>
              </div>
              <div class="col"style="background:whitesmoke;">
                <a href="../blu_button/" class="btn btn-md"
                  style="background-color:lightblue;margin:0px 4px 0px 0px; display:block; text-size-adjust:100%; border-radius:4px; min-width: 100px;">BLU</a>
              </div>
              <!--<div class="col"style="background:whitesmoke;">
                <a href="gold_button.html" class="btn btn-md"
                  style="background-color:#002244; color:gold; font-size:medium; display:block; text-size-adjust:100%; border-radius:4px; min-width: 100px;">GOLD</a>
              </div>-->
            </div>
          </div>
      </div>
  </header>
  <!--header close-->

<div class="row">
    <img src="{% static 'images/742.JPG' %}" style="height:100%;width:100%;">
</div>
<br>

<div class="row">
    <center><h1>Why MyLens BLU?</h1></center><br><br><br><br>
    <center><p style="font-size: 20px;">Digital devices like phones, laptops, and tablets emit harmful blue rays <br>that can damage our eyes. Once powered by MyLens BLU, the<br> computer glasses effectively block 98% of these blue rays.<br><br>  
         Available with prescription and zero power, they take the strain off your<br> eyes on screen-heavy days. Transform every day viewing with MyLens BLU.</p></center>
</div><br><br>

<!-- <div class="row" style="background-color: antiquewhite;">
    <center><p style="font-size: 32px;">SHOP NOW</p></center>
    <div class="col-sm-6" style="text-align: end;">
        <a href="blu_with_power.html"><button type="button" class="btn btn-primary">WITH POWER</button></a>
    </div>
    <div class="col-sm-6">
        <a href="blu_zero_power.html"><button type="button" class="btn btn-primary">ZERO POWER</button></a>
    </div>
</div><br><br> -->

<div class="row">
    <center><img src="{% static 'images/682.png' %}" style="height:100%;width:90%;"></center><br>
    <center><img src="{% static 'images/684.png' %}" style="height:100%;width:90%;"></center><br>
</div><br><br>

<div class="row">
    <center><img src="{% static 'images/685.png' %}" style="height:100%;width:90%;"></center>
</div><br>

<!-- <div class="row" style="background-color: antiquewhite;">
    <center><p style="font-size: 32px;">SHOP NOW</p></center>
    <div class="col-sm-6" style="text-align: end;">
        <a href="blu_with_power.html"><button type="button" class="btn btn-primary">WITH POWER</button></a>
    </div>
    <div class="col-sm-6">
        <a href="blu_zero_power.html"><button type="button" class="btn btn-primary">ZERO POWER</button></a>
    </div>
</div><br><br><br> -->

<div class="row">
    <center>
        <p style="font-size: 36px;">Upgrade your vision<br>with MyLens BLU if you are :</p>
    </center>
</div><br>

<div class="row">
    <center>
        <img src="{% static 'images/687.png' %}" style="height:40%;width:90%;">
        <img src="{% static 'images/689.png' %}" style="height:40%;width:90%;">
    </center>
</div>

<div class="row">
    <center>
        <p style="font-size: 36px;">Compatible With All Frames And Styles</p>
    </center>
</div><br><br>

<div class="row">
    <center>
        <img src="{% static 'images/691.png' %}" style="height:100%;width:90%;">
    </center>
</div><br>

<!-- <div class="row" style="background-color: antiquewhite;">
    <center><p style="font-size: 32px;">SHOP NOW</p></center>
    <div class="col-sm-6" style="text-align: end;">
        <a href="blu_with_power.html"><button type="button" class="btn btn-primary">WITH POWER</button></a>
    </div>
    <div class="col-sm-6">
        <a href="blu_zero_power.html"><button type="button" class="btn btn-primary">ZERO POWER</button></a>
    </div>
</div><br><br><br> -->

<div class="row">
    <center>
        <p style="font-size: 38px;">Frequently Asked Questions</p>
    </center>
</div><br>

<div class="container">
    <div class="row">
        <p style="font-size: 28px;">How to Protect Eyes from Computer Screen ?</p>
        <p style="font-size: 16px;">The best way to reduce eye-strain from harmful blue light emitted from most digital devices and screens is to protect your eyes and shield them during screen-time.</p>
    </div>
    <div class="row">
        <p style="font-size: 28px;">Are there special glasses for people working on computer / mobiles devices ?</p>
        <p style="font-size: 16px;">MyLens BLU computer glasses effectively block 98% of blue rays. Available with prescription and zero power, they take the strain off your eyes on screen-heavy days.</p>
    </div>
    <div class="row">
        <p style="font-size: 28px;">What is Blue light and how does it impact our eyes ?</p>
        <p style="font-size: 16px;">Digital devices like phones, laptops, and tablets emit harmful blue rays that can damage our retinas, create eye-fatigue and cause eye problems.</p>
    </div>
    <div class="row">
        <p style="font-size: 28px;">Do blue light glasses really work ?</p>
        <p style="font-size: 16px;">Blue light glasses block harmful blue rays from your devices reducing eye-fatigue and long term visual problems.</p>
    </div>
    <div class="row">
        <p style="font-size: 28px;">What are blue light reading glasses ?</p>
        <p style="font-size: 16px;">Blue Light Reading glasses reduce eye strain, eliminate dry eyes, do not let your eyes uncomfortable ruin your daily life.</p>
    </div>
    <div class="row">
        <p style="font-size: 28px;">Are blue light reading glasses available with MyLens?</p>
        <p style="font-size: 16px;">Yes, you can shop blue light reading glasses online and in-stores.</p>
    </div>
    <div class="row">
        <p style="font-size: 28px;">Is MyLens Blu effective ?</p>
        <p style="font-size: 16px;">MyLens Blu glasses block 90% of harmful blue rays effectively reduces headaches, relieves eye strain and also shields against harmful UV rays</p>
    </div>
    <div class="row">
        <p style="font-size: 28px;">What is Blu Essential from MyLens ?</p>
        <p style="font-size: 16px;">Blu Essential lenses to shield your eyes from the harmful blue light of digital devices. Blu blocking technology has special reflective coating that blocks 90%* of harmful 410 nm blue light from digital screens and protects the light-sensitive retina of the eye from damage.</p>
    </div>
    <div class="row">
        <p style="font-size: 28px;">Is Mylens Blu available for power glasses as-well ?</p>
        <p style="font-size: 16px;">Yes, MyLens Blu is available in zero power as well as powered lenses making it an easy pick no matter what your need.</p>
    </div>
    <div class="row">
        <p style="font-size: 28px;">Can I wear Blu glasses all time ?</p>
        <p style="font-size: 16px;">You can wear your MyLens Blu glasses all day without any harmful effects. This is ideal for days with increased screen-time.</p>
    </div>
    <div class="row">
        <p style="font-size: 28px;">What is the cost of MyLens Blu Glasses ?</p>
        <p style="font-size: 16px;">You can buy MyLens Blu Glasses starting from Rs 999</p>
    </div>
</div><br>

<div class="row">
  <footer style="background-color:  #150549;color:white;">
    <h2>Buy The Best Eyewear From MyLens</h2><br>
    <p> Embark on a journey of possibilities with us. Bridging the gap between style and technology, we redefine your experience.</p>
    <br>
    <p>A One-Stop Online Solution For Purchasing Eyewear And Its Accessories, easiest way to buy
      With Convenient Methods Of Payment. Sunglasses as well as Eyeglasses Are<br>Available For Men And
      Women In A Diverse Array Of Styles And Trendy Colours. If You Want To Try Out Contact Lenses, Pick The
      Ones
      Of Your Choice From The Extensive Variety Of Coloured Contact<br>Lenses From Our Online Store.</p>

      <div class="row">
        <div class="col">
          <b>Services</b><br><br>
          <a href="buying_guide.html" style="text-decoration: none;color:white;"><p>Buying Guide</p></a>
          <a href="size_guide.html" style="text-decoration: none;color:white;"><p>Frame Size</p></a>
        </div>


        <div class="col">
          <a href="FAQs.html" style="text-decoration: none;color:white;"><b>FAQ'S</b></a>
        </div>

        <div class="col">
          <p>Explore and enjoy various trendy <br>Eyeglasses,Sunglasses and Contact Lenses</p>
        </div>
      </div>

     

     
   <!--- <div class="row">
      <div class="col-sm-2">
        <h4>Services</h4>
        <br>
        <a href="store3.html">
          <li style="list-style-type: none; text-decoration:none; color: white;">Store Locator</li><br>
        </a>
        <a href="buying_guide.html">
          <li style="list-style-type: none; text-decoration:none; color: white;">Buying Guide</li><br>
        </a>
        <a href="size_guide.html">
          <li style="list-style-type: none; text-decoration:none; color: white;">Frame Size</li>
        </a>


      </div>
      <div class="col-sm-2">
        <h4>About Us</h4>
        <br>
        <a href="we_are_hiring.html">
          <li style="list-style-type: none;text-decoration:none;color: white;">We Are Hiring</li><br>
        </a>-->
        <!--<a href="">
          <li style="list-style-type: none;text-decoration:none;color: white;">Refer and Earn</li><br>
        </a>
        <a href="">
          <li style="list-style-type: none;text-decoration:none;color: white;">About us</li><br>
        </a>
        <a href="">
          <li style="list-style-type: none;text-decoration:none;color: white;">Lenskart Coupons</li>
        </a>

      </div>
      <div class="col-sm-2">
        <h4>Help</h4>
        <br>
        <a href="FAQs.html">
          <li style="list-style-type: none;text-decoration:none;color: white;">FAQ's</li><br>
        </a>

      </div>
      <div class="col-sm-6">
        <div class="text-center">
          <button type="button" class="btn btn-light mx-3"><img src="270.png"
              style="height:50px;width:150px;"></button>
          <button type="button" class="btn btn-light mx-3"><img src="109.png"
              style="height:50px;width:150px;"></button>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <p1>Explore and enjoy various trendy<br>Eyeglasses,Sunglasses and Contact Lenses</p1>
        </div>
      </div>

    </div>-->
    <hr>
    <div class="row">
      <div class="col-sm-4">
        <!--<a href="">
          <p3 style="list-style-type: none;text-decoration:none;color: white;">T & C</p3>
          &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        </a>
        <a href="">
          <p3 style="list-style-type: none;text-decoration:none;color: white;">Privacy</p3>
          &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        </a>
        <a href="">
          <p3 style="list-style-type: none;text-decoration:none;color: white;">Disclaimer</p3>
        </a>-->
      </div>
      <div class="col-sm-12">
        <div class="text-sm-end">
         <!----<p4>Version1.0.0 || Follow Us </p4>-->
          <p5><a href=""><ion-icon name="logo-facebook"
                style="font-size:25px;text-decoration:none;color: white;"></ion-icon></a>&nbsp&nbsp&nbsp<a
              href=""><ion-icon name="logo-instagram"
                style="font-size:25px;text-decoration:none;color: white;"></ion-icon></a>&nbsp&nbsp&nbsp<a
              href=""><ion-icon name="logo-twitter"
                style="font-size:25px;text-decoration:none;color: white;"></ion-icon></a>&nbsp&nbsp&nbsp<a
              href=""><ion-icon name="mail-unread-outline"
                style="font-size:25px;text-decoration:none;color: white;"></ion-icon></a></p5>
        </div>
      </div>

    </div>
  </footer>
</div>






















        </div>
        </body>
        </html>
