{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

<!-- css -->
<link rel="stylesheet" href="Bootstrap/css/bootstrap.min.css">
<!-- js -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
    crossorigin="anonymous"></script>
  <!--css file-->
  <link rel="stylesheet" href="Bootstrap/css/bootstrap.min.css">
  <!-- ===== Link Swiper's CSS ===== -->
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <!-- ===== Fontawesome CDN Link ===== -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
  <!-- ===== CSS ===== -->
  <link rel="stylesheet" href="style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <!--pop up -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <!--js file-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
    crossorigin="anonymous"></script>
  <!--icons-->
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  <!--swiper-->
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <!--icon-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />

<!--for icons-->
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<!--for icons close-->
    <!-- css -->
    <link rel="stylesheet" href="Bootstrap/css/bootstrap.min.css">
    <!-- js -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>

    <!--for icons-->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <!--for icons close-->


      <!--for icons-->
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  <!--for icons close-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
   
   <style>


   </style>
    </head>
    <body>
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="row">
                    <div class="col">
                        <img src="https://static.lenskart.com/media/desktop/img/DesignStudioIcons/Shield.svg">&nbsp 100% safe and secure
                    </div>
                </div><br>
            </nav><br>
        </div>

        <div class="container-fluid"  style="background-color: white;">
        <div class="container">
            <div class="row">

                <div class="row" style="background-color:rgb(222, 253, 252);">
                    <p> <a1 style="color:blue;">  </a1> &nbsp&nbsp Shipping Address &nbsp&nbsp > &nbsp&nbsp Payment &nbsp&nbsp > &nbsp&nbsp Summary</p>
                </div><br>

                <div class="col-sm-6">
                 <br><br>
                <div class="row">
                    <div class="col-sm-6">
                    <label for="validationDefault01" class="form-label">Enter your Mobile number</label>
                    <input type="num" class="form-control" id="validationDefault01" value="number" required>
                        </div>
                </div><br><br>

                <div class="row">
                    <div class="col-sm-6">
                          <label for="validationDefault01" class="form-label">Enter Otp sent to your mobile number</label>
                    <input type="num" class="form-control" id="validationDefault01" value="OTP" required>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <a href="">Resend OTP</a>
                    </div>
                     <div class="col">
                        <a href="../buy_step_4/" style="text-decoration: none;color:black;font-size: 14px;color:white;"   class="btn btn-success"   data-bs-toggle="modal">Proceed to Checkout </a>
                    </div>
                </div><br><br><br>
                 
                <div class="row">
                    <div class="col">
                        <p>If don't have an account then-</p>
                      <a href="#modal_2" style="text-decoration: none;color:black;font-size: 14px;color:white;"   class="btn btn-primary"  data-bs-toggle="modal">Sign Up </a>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-6"><br><br>
                <p style="font-size: 32px; font-family: 'Times New Roman', Times, serif;">Bill Details</p><br>

                <div class="card" style="width: 22rem;">
                  <div class="card-body">
                   <div class="row">
                    <div class="col">Item Total</div>
                    <div class="col text-end">₹10000</div>
                   </div>
  
                   <div class="row">
                    <div class="col">Total Offer Discount</div>
                    <div class="col text-end">-₹1000</div>
                   </div>
  
                   <div class="row">
                    <div class="col">Net Item Total</div>
                    <div class="col text-end">₹9000</div>
                   </div><hr>
  
                   <div class="row">
                    <div class="col">Net Amount</div>
                    <div class="col text-end">₹9000</div>
                   </div><hr>
  
                   <div class="row">
                    <div class="col">Total payable</div>
                    <div class="col text-end">₹9000</div>
                   </div><br>
                  </div>
                </div><br><br><br>

            </div>

            </div>

          





        </div>
        </div>

    </body>
 <!--sign up modal_2 starts-->

<div class="modal" id="modal_2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content"  style="height:500px;">
      <form class="row g-3" action="../head2code/" method="post">
        {% csrf_token %}
        <button type="button" class="btn-close position-absolute top-0 end-0 mt-2 me-2" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="col-md-12">
          <p  style="font-size: 32px;color:#000042;margin-left: 20px;">Create an Account</p>
        </div>
        <div class="col-md-6" style="margin-left: 20px;width:350px;">
          <input type="text" name="fname" class="form-control" id="validationDefault01" placeholder="First Name" required>
        </div>


           <div class="col-md-6" style="margin-left: 20px;width:350px;">
             <input type="text" name="lname" class="form-control" id="validationDefault02" placeholder="Last Name" required>
           </div>


         <div class="col-md-6" style="margin-left: 20px;width:350px;">
           <input type="text" name="mobileno" class="form-control" id="validationDefault03" placeholder="Mobile Number" required>
         </div>


         <div class="col-md-6" style="margin-left: 20px;width:350px;">
           <input type="email" name="email" class="form-control" id="validationDefault04" placeholder="Email" required>
         </div>

         <div class="col-md-6" style="margin-left: 20px;width:350px;">
           <input type="password" name="password" class="form-control" id="validationDefault05" placeholder="Password" required>
         </div><br>



        <div class="col-12">
          <p style="margin-left: 20px;">By creating this account, you agree to our<a href="privacy_policy.html">Privacy Policy</a></p>
        </div>

        <div class="col-12">
          <center><button class="btn btn-primary" type="submit"  id="create">Create an Account</button></center>
        </div>

      </form>
    </div>
  </div>
</div>

 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      $(document).ready(function() {
        $('#create').click(function() {
        $('#modal_2').modal('hide');
        // Show the second modal (modal_4)
        //$('#modal_1').modal('show');
        });
      });
    </script>

<!--sign up modal_2 close-->

 <!--modal_1 for sign in page open-->

  <div class="modal" id="modal_1" tabindex="-1" aria-labelledby="exampleModalLabel"data-bs-keyboard="false" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content"  style="height:620px;">
        <form class="row g-3" action="../signincode/" method="post">
          {% csrf_token %}
          <button type="button" class="btn-close position-absolute top-0 end-0 mt-2 me-2" data-bs-dismiss="modal" aria-label="Close"></button>
          <div class="col-md-12">
            <img class="img-fluid" src=https://static1.lenskart.com/media/desktop/img/DesignStudioIcons/DesktopLoginImage.svg><br><br>
            <label for="validationDefault01" class="form-label" style="font-size: 32px;padding-left: 30px;">Sign-In</label>
          </div>
          <div class="col-md-6" style="margin-left: 20px;width:350px;">
            <label for="validationDefault01" class="form-label">Enter Username</label>
              <input type="email" name="email" placeholder="email" class="form-control"  aria-describedby="inputGroupPrepend2" required>
          </div>

           <div class="col-md-6" style="margin-left: 20px;width:350px;">
            <label for="validationDefault01" class="form-label">Enter Password</label>
              <input type="password" name="password" placeholder="password" class="form-control"  aria-describedby="inputGroupPrepend2" required>
          </div>

          <div class="col-12"><br>
            <center><button class="btn btn-primary" type="submit" >Sign In</button></center><br>
             <a href="#" id="forgotPasswordLink" data-toggle="modal" data-target="#modal_4">Forgot Password ? Click Here</a>
          </div>


        </form>
      </div>
    </div>
  </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      $(document).ready(function() {
        // Listen for click event on the Sign In button in modal_1
        $('#signInButton').click(function() {
        // Hide the first modal (modal_1)
        $('#modal_1').modal('hide');
        // Show the second modal (modal_4)
        $('#modal_4').modal('show');
        });
      });
    </script>



  <!--modal_1 for sign in page close-->
 <!--sign in page 2 open-->

  <div class="modal" id="modal_4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog">
      <div class="modal-content"  style="height:620px;">
        <form class="row g-3">
          <button type="button" class="btn-close position-absolute top-0 end-0 mt-2 me-2" data-bs-dismiss="modal" aria-label="Close"></button>
          <div class="col-md-12">
            <img class="img-fluid" src=https://static1.lenskart.com/media/desktop/img/DesignStudioIcons/DesktopLoginImage.svg>
          </div>
          <div class="col-12">
            <h3  style="font-size: 32px;padding-left: 30px;">Sign-In</h3>
          </div><br>
          <div class="col-12">
            <center><p>Enter your email to send Otp to mobile number</p></center>
          </div>
            <div class="col-5">
              <div class="input-group" style="padding-left: 90px;width:350px;">
                <input type="email" class="form-control" placeholder="email" id="validationDefaultUsername" aria-describedby="inputGroupPrepend2" required>
              </div>
            </div>
            <br>

            <div class="col-12">
               <center><a href="">Send OTP</a></center>
            </div><br>



            <div class="col-12"><br>
              <center><button class="btn btn-primary"   id="signinbutton" style="width:350px;" type="submit">Sign In</button></center>
            </div>



        </form>
      </div>
    </div>
  </div>
<script>
    document.getElementById('forgotPasswordLink').addEventListener('click', function () {
        $('#modal_4').modal('show');
    });
</script>

  <!--sign in page2 close-->



<!--<script>-->
<!--  $(document).ready(function() {-->
<!--    // Listen for click event on the Sign In button in modal_1-->
<!--    $('#signinbutton').click(function() {-->
<!--      // Hide the first modal (modal_1)-->
<!--      $('#modal_4').modal('hide');-->

<!--      // Redirect to signin_page3.html-->
<!--      window.location.href = 'signin_page3.html';-->
<!--    });-->
<!--  });-->
<!--</script>-->



  <!--sign up modal_2 starts-->
    </html>
