{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
       <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

<!-- css -->
<link rel="stylesheet" href="Bootstrap/css/bootstrap.min.css">
<!-- js -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
    crossorigin="anonymous"></script>
  <!--css file-->
  <link rel="stylesheet" href="Bootstrap/css/bootstrap.min.css">
  <!-- ===== Link Swiper's CSS ===== -->
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <!-- ===== Fontawesome CDN Link ===== -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
  <!-- ===== CSS ===== -->
  <link rel="stylesheet" href="style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <!--pop up -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <!--js file-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
    crossorigin="anonymous"></script>
  <!--icons-->
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  <!--swiper-->
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <!--icon-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />

<!--for icons-->
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<!--for icons close-->
    <!-- css -->
    <link rel="stylesheet" href="Bootstrap/css/bootstrap.min.css">
    <!-- js -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>

    <!--for icons-->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <!--for icons close-->


      <!--for icons-->
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  <!--for icons close-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
   
   <style>


   </style>
    </head>
    <body>
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="row">
                    <div class="col">
                        <img src="https://static.lenskart.com/media/desktop/img/DesignStudioIcons/Shield.svg">&nbsp 100% safe and secure
                    </div>
                </div><br>
            </nav><br>
        </div>

        <div class="container-fluid"  style="background-color: white;">
        <div class="container">
            <div class="row">

                <div class="row" style="background-color:rgb(222, 253, 252);">
                    <p>Login/Signup &nbsp&nbsp >  &nbsp&nbsp Shipping Address &nbsp&nbsp > <a1 style="color:blue;"> &nbsp&nbsp Payment &nbsp&nbsp</a1> > &nbsp&nbsp Summary</p>
                </div><br>

                <div class="col-sm-6"><br>
                    <p style="font-size: 28px;">Payment Process</p><br>
                    <form>
                        <div class="row">
                            <div class="col">
                                <input type="name" class="form-control" placeholder="First Name" id="validationDefault01" aria-describedby="nameHelp" required>
                            </div>
                            <div class="col">
                                <input type="name" class="form-control" placeholder="Last Name" id="validationDefault02" aria-describedby="nameHelp" required>
                            </div>
                        </div><br><br>

                        <div class="row">
                            <p>Select Gender</p>
                        </div><br>

                        <div class="row">
                            <div class="col">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="validationDefault03" required>
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Male
                                </label>

                                <input class="form-check-input" style="margin-left: 20px;" type="radio" name="flexRadioDefault" id="flexRadioDefault04">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Female
                                </label>

                                <input class="form-check-input" style="margin-left: 20px;" type="radio" name="flexRadioDefault" id="flexRadioDefault05">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Prefer not to say
                                </label>
                            </div>
                        </div><br><br>

                        <div class="row">
                            <div class="col">
                                <input type="num" class="form-control" placeholder=" Phone Number" id="validationDefault06" aria-describedby="numberHelp" required>
                            </div>
                            <div class="col">
                                <input type="email" class="form-control" placeholder="Email Address" id="validationDefault07" aria-describedby="emailHelp" required>
                            </div>
                        </div><br>

                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Address" id="validationDefault08" aria-describedby="addressHelp" required>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Area/Street/Landmark" id="validationDefault09" aria-describedby="addressHelp" required>
                            </div>
                        </div><br>

                        <div class="row">
                            <div class="col">
                                <input type="num" class="form-control" placeholder="Pincode" id="validationDefault10" aria-describedby="numberHelp" required>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" placeholder="City/District" id="validationDefault11" aria-describedby="cityHelp" required>
                            </div>
                        </div><br>

                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Select State" id="validationDefault12" aria-describedby="stateHelp" required>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Country" id="validationDefault13" aria-describedby="countryHelp" required>
                            </div>
                        </div><br>
                    </form>
                </div>
            
            <div class="col-sm-6"><br><br>
                <p style="font-size: 32px; font-family: 'Times New Roman', Times, serif;">Bill Details</p><br>

                <div class="card" style="width: 22rem;">
                  <div class="card-body">
                   <div class="row">
                    <div class="col">Item Total</div>
                    <div class="col text-end">₹10000</div>
                   </div>
  
                   <div class="row">
                    <div class="col">Total Offer Discount</div>
                    <div class="col text-end">-₹1000</div>
                   </div>
  
                   <div class="row">
                    <div class="col">Net Item Total</div>
                    <div class="col text-end">₹9000</div>
                   </div><hr>
  
                   <div class="row">
                    <div class="col">Net Amount</div>
                    <div class="col text-end">₹9000</div>
                   </div><hr>
  
                   <div class="row">
                    <div class="col">Total payable</div>
                    <div class="col text-end">₹9000</div>
                   </div><br>
                  </div>
                </div><br><br><br>
  
                <a href="../summary/" type="button" class="btn btn-success">Proceed to Payment ></a>
            </div>

            </div>

          





        </div>
        </div>

    </body>
    </html>
